<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259077268985-bf7d495oul3t5sav9o31h8rgriaicp7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259077268985-bf7d495oul3t5sav9o31h8rgriaicp7l</string>
	<key>API_KEY</key>
	<string>AIzaSyCru6bMWDMPrPfbENzvLJXnMTvN_Aswc8A</string>
	<key>GCM_SENDER_ID</key>
	<string>259077268985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-flutter-97257</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-flutter-97257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259077268985:ios:865eee01b7b714c3468928</string>
</dict>
</plist>